* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 100%;
}

h2 {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

[data-region-id="container"] {}

[data-region-id="header"] {
    width: 100%;
}

.Page-homepage [data-region-id="header"] {
    position: absolute;
}

.Page-post [data-region-id="header"] {
    position: fixed;
}

.Page-category [data-region-id="header"] {
    position: fixed;
}

[data-region-id="main"] {}
