<div class="carousel-listing" {{region "container"}}>
  <header {{region "header"}}>
    {{>header}}
  </header>

  {{>@partial-block}}

  <main class="carousel-panels" {{region "main"}}>
    {{>main}}
  </main>
</div>
