.carousel-panels {
    height: 100dvh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.carousel-panels > * {
    height: 100dvh;
    scroll-snap-align: start;
}
