.grid-card {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
}

.grid-card:nth-child(odd) {
    place-self: start end;
    place-content: end;
}

.only-card {
    grid-column: span 2;
    justify-self: center !important;
    box-sizing: border-box;
}

.only-card > * {
    max-width: 90dvw;
    max-height: 60dvh;
}

.grid-card-wide {
    flex-direction: column;
    grid-column: span 2;
    justify-self: center !important;
    box-sizing: border-box;
    width: clamp(300px, 1440px, 100vw);
}

@media (max-width: 600px) {
    .grid-card {
        grid-column: span 2;
        justify-self: center !important;
        box-sizing: border-box;
    }
}

@media (min-width: 700px) {
    .grid-card {
        padding: 0 1em;
    }
}
