<h1 class="header-logo">
  <a href="{{homepage.permalink}}">
    <svg class="header-logo-image" alt="Go to homepage">
      <use xlink:href="#logo-symbol"></use>
    </svg>
  </a>
</h1>

<nav class="header-categories">
    {{#each categories as |category|}}
        <a class="header-category-link" href="{{category.permalink}}">
            {{category.name}}
        </a>
    {{/each}}
</nav>
