.post {
    --background-color: var(--black);
    --text-color: var(--white);
    --title-color: var(--text-color, var(--white));
    --accent-color: hotpink;
    --gap: min(5vw, 12vh);
    --padding-top: 35dvw;
    padding-top: var(--padding-top);
    min-height: 100dvh;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            calc(49vw - var(--gap) / 2),
            1fr
        )
    );
    justify-items: center;
    align-items: center;
    gap: var(--gap);
    background: var(--background-color);
    color: var(--text-color);
}

.post-header {
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: -1;
    position: relative;
}

.post-category-name {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    color: var(--accent-color);
    text-decoration: none;
    font-family: monospace;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    font-size: clamp(.8rem, 1.5rem, 2.5dvmin);
}

.post-title {
    font-size: clamp(.1rem, 8rem, 12dvmin);
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    line-height: 1.1;
    color: var(--title-color);
}

@keyframes title-weight {
    33% {
        font-weight: 700
    }
    to {
        font-weight: 600
    }
}

.post-title-link {
    color: inherit;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.2em;
}

.post-released {
  margin: 0;
  display: none;
  padding-top: 1em;
  font-size: clamp(.8rem, 1.2rem, 2dvmin);
  font-family: times, serif;
  font-style: italic;
  text-align: center;
}

.post-content {
    font-size: clamp(1rem, 2rem, 4vmin);
}

.post-content p {
    font-size: clamp(1.25rem, 2rem, 5vmin);
    padding: 1em 1em 0;
    line-height: 1.4;
    text-wrap: balance;
    letter-spacing: -0.02em;
    word-spacing: 0.01em;
}

.post-content p:first-of-type {
    margin-block-start: 0;
}

.post-cover {
    text-align: end;
}

.only-card .post-cover {
    text-align: center;
}

.post-spotify {
    width: clamp(100%, 320px, 20vw);
    height: 55dvh;
}

.post-youtube {
    width: clamp(300px, 960px, 100vw);
    aspect-ratio: 16/9;
    max-width: initial;
    max-height: initial;
}

/*
 * In listing view of post (.post.summary),
 * if there are both cover and spotify or youtube cards (cards taking priority in mobile),
 * then initially hide the cover (then adapt to viewport later).
 *
 * Set display: none to the cover's card.
 * Obviously we want to do it when the cover's card is among many.
 * */
.post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-cover) {
    display: none;
}

/* and get the mobile card to quack like a .only-card */
.post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-mobile-poster):nth-child(even) {
    grid-column: span 2;
    justify-self: center;
    padding: 0 1em;
    box-sizing: border-box;
}

@media (min-height: 321px) {
    .post {
        --padding-top: 50dvw;
    }
}

@media (min-width: 431px) {
    .post {
        --padding-top: 15dvh;
    }

    .post-released {
        display: block;
    }
}

@media (min-height: 500px) {
    .post-category-name {
        display: inline-block;
    }
}

/*
 * Dotted underline renders as squares in mobile,
 * so use them only on bigger screens.
 *
 * Similarly, variable font animation is smooth
 * only in bigger screens.
 * */
@media ((min-width: 420px) and (min-height: 900px)),
       ((min-width: 900px) and (min-height: 420px)) {
    .post-title-link {
        text-decoration-thickness: 0.12em;
        text-decoration-style: dotted;
        text-underline-offset: 0.09em;
    }

    .post-title {
        font-weight: 100;
    }

    .active-panel .post-title,
    .Page-post .post-title {
        animation: title-weight 1s forwards;
    }
}

@media (min-width: 700px) {
    .post-content .post-cover {
        float: left;
        width: 50%;
        margin: 0 1.5rem 1.25rem 0;
    }

    .style-abstract .post-cover-image {
        object-fit: cover;
        height: 50dvh;
    }

    .post-content p {
        padding: 0;
    }

    /*
     * revert the fabricated card-only effect in listing-view (post summary)
     * */
    .post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-cover) {
        display: flex;
    }

    .post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-mobile-poster):nth-child(even) {
        grid-column: initial;
        justify-self: start;
        padding: initial;
    }
}
