* {
  box-sizing: border-box;
}

:root {
    --black: #010800;
    --white: #fef8ff;
    --logo-color: #fdbe39;
}

body {
    margin: 0;
    font-size: 100%;
}

[data-region-id="container"] {}

h2 {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.svg-symbols {
    display: none;
}

.carousel-panels {
    height: var(--carousel-height, 100vh);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.carousel-panels > * {
    height: var(--carousel-item-height, 100vh);
    scroll-snap-align: start;
}


[data-region-id="header"] {
    width: 100%;
    height: 160px;
}

.Page-homepage [data-region-id="header"] {
    position: absolute;
}

.Page-post [data-region-id="header"] {
    position: fixed;
}

.Page-category [data-region-id="header"] {
    position: fixed;
}

.header-logo {
    margin: 0;
    height: 100%;
    float: left;
}

.header-logo-image {
    max-height: 100%;
    color: transparent;
    stroke-width: 1;
    stroke: #ff80c0;
    stroke-dasharray: 40;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    animation: header-logo-stroke .5s linear forwards;
}

.header-logo-image:hover {
    stroke-width: 2;
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    color: transparent;
    animation: none;
}

@keyframes header-logo-stroke {
    70% {
        color: transparent;
    }
    30% {
        stroke-width: 6;
    }
    95% {
        stroke-width: 1;
    }
    to {
        stroke-width: 0;
        stroke-dasharray: 120;
        stroke-dashoffset: -25;
        stroke: var(--logo-color);
        color: var(--logo-color);
    }
}

.header-categories {
    opacity: 0;
}

.header-category-link {}


[data-region-id="main"] {}

.post {
    --background-color: var(--black);
    --text-color: var(--white);
    --accent-color: hotpink;
    --gap: 5vw;
    min-height: 100vh;
    padding-top: 10vh;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            calc(50vw - var(--gap) / 2),
            1fr
        )
    );
    justify-items: center;
    align-items: center;
    gap: var(--gap);
    background: var(--background-color);
    color: var(--text-color);
}

.post-header {
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: -1;
    position: relative;
}

.post-category-name {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    color: var(--accent-color);
    text-decoration: none;
    font-family: monospace;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    font-size: clamp(0.75rem, 1.5rem, 2vw);
}

.post-title {
    font-size: clamp(18px, 128px, 10vw);
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.post-title-link {
    color: inherit;
}

.post-released {
  margin: 0;
  font-size: 1.2em;
  font-family: monospace;
}

.post-card {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
}

.post-card:nth-child(even) {
    place-self: start end;
    place-content: start end;
}

.post-card:nth-child(odd) {
    place-self: start start;
    place-content: start start;
}

.post-card-only {
    grid-column: span 2;
    justify-self: center !important;
    padding: 0 1em;
    box-sizing: border-box;
}

.post--album .album-cover {
    display: flex;
    justify-content: end;
}

.post--album .album-spotify {
    width: clamp(100%, 320px, 20vw);
    height: 55vh;
}

.post--single .single-cover {
    display: flex;
    justify-content: end;
}

.post--single .single-spotify {
    width: clamp(100%, 320px, 20vw);
    height: 55vh;
}

@media (max-width: 680px) {
    .post--album .post-card:has(.album-cover),
    .post--single .post-card:has(.single-cover) {
        display: none;
    }

    /* same as .post-card-only */
    .post--album .post-card:has(.album-spotify),
    .post--single .post-card:has(.single-spotify) {
        grid-column: span 2;
        justify-self: center !important;
        padding: 0 1em;
        box-sizing: border-box;
    }
}
