* {
  box-sizing: border-box;
}

:root {
    --black: #010800;
    --white: #fef8ff;
    --logo-color: #fdbe39;
}

body {
    margin: 0;
    font-size: 100%;
}

h2 {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

.svg-symbols {
    display: none;
}

.style-abstract {
    mix-blend-mode: lighten;
    filter: contrast(3) brightness(2);
}

/*
 * Layouts
 * */

/* Carousel listing */
.carousel-panels {
    height: 100dvh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.carousel-panels > * {
    height: 100dvh;
    scroll-snap-align: start;
}

/* Grid view */
.grid-card {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: flex;
}

.grid-card:nth-child(odd) {
    place-self: start end;
    place-content: end;
}

.only-card {
    grid-column: span 2;
    justify-self: center !important;
    box-sizing: border-box;
}

.only-card > * {
    max-width: 90dvw;
    max-height: 60dvh;
}

.grid-card-wide {
    flex-direction: column;
    grid-column: span 2;
    justify-self: center !important;
    box-sizing: border-box;
    width: clamp(300px, 1440px, 100vw);
}

@media (max-width: 600px) {
    .grid-card {
        grid-column: span 2;
        justify-self: center !important;
        box-sizing: border-box;
    }
}


/*
 * Landmark regions
 * */

[data-region-id="container"] {}

[data-region-id="header"] {
    width: 100%;
}

.Page-homepage [data-region-id="header"] {
    position: absolute;
}

.Page-post [data-region-id="header"] {
    position: fixed;
}

.Page-category [data-region-id="header"] {
    position: fixed;
}

[data-region-id="main"] {}


/*
 * Components
 * */

.header-logo {
    margin: 0;
    height: 100%;
    text-align: center;
}

.header-logo-image {
    max-height: 40dvw;
    max-width: 80dvw;
    overflow: visible;
    color: transparent;
    stroke-width: 1;
    stroke: #ff80c0;
    stroke-dasharray: 40;
    stroke-linecap: round;
    stroke-dashoffset: 0;
    animation: header-logo-stroke .5s linear forwards;
}

.header-logo-image:hover {
    stroke-width: 2;
    stroke-dashoffset: 0;
    stroke-dasharray: 0;
    color: transparent;
    animation: none;
}

@keyframes header-logo-stroke {
    70% {
        color: transparent;
    }
    30% {
        stroke-width: 6;
    }
    95% {
        stroke-width: 1;
    }
    to {
        stroke-width: 0;
        stroke-dasharray: 120;
        stroke-dashoffset: -25;
        stroke: var(--logo-color);
        color: var(--logo-color);
    }
}

.header-categories {
    opacity: 0;
}

.header-category-link {}


.post {
    --background-color: var(--black);
    --text-color: var(--white);
    --title-color: var(--text-color, var(--white));
    --accent-color: hotpink;
    --gap: min(5vw, 12vh);
    --padding-top: 35dvw;
    min-height: 100dvh;
    padding-top: var(--padding-top);
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            calc(49vw - var(--gap) / 2),
            1fr
        )
    );
    justify-items: center;
    align-items: center;
    gap: var(--gap);
    background: var(--background-color);
    color: var(--text-color);
}

.post-header {
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: -1;
    position: relative;
}

.post-category-name {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    color: var(--accent-color);
    text-decoration: none;
    font-family: monospace;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-size: 1.3em;
    font-size: clamp(.8rem, 1.5rem, 2.5dvmin);
}

.post-title {
    font-size: clamp(.1rem, 8rem, 12dvmin);
    font-family: "Montagu Slab", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    line-height: 1.1;
    color: var(--title-color);
}

.post-title-link {
    color: inherit;
    text-decoration-style: wavy;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.2em;
}

/*
 * Dotted underline renders as squares in mobile,
 * so use them only on bigger screens.
 * */
@media ((min-width: 420px) and (min-height: 900px)),
       ((min-width: 900px) and (min-height: 420px)) {
    .post-title-link {
        text-decoration-thickness: 0.12em;
        text-decoration-style: dotted;
        text-underline-offset: 0.09em;
    }
}

.post-released {
  margin: 0;
  display: none;
  padding-top: 1em;
  font-size: clamp(.8rem, 1.2rem, 2dvmin);
  font-family: times, serif;
  font-style: italic;
  text-align: center;
}

.post-content {
    font-size: clamp(1rem, 2rem, 4vmin);
}

.post-content p {
    font-size: clamp(1.25rem, 2rem, 5vmin);
    padding: 1em 1em 0;
    line-height: 1.4;
    text-wrap: balance;
    letter-spacing: -0.02em;
    word-spacing: 0.01em;
}

.post-content p:first-of-type {
    margin-block-start: 0;
}

.post-cover {
    text-align: end;
}

.only-card .post-cover {
    text-align: center;
}

.post-spotify {
    width: clamp(100%, 320px, 20vw);
    height: 55dvh;
}

.post-youtube {
    width: clamp(300px, 1440px, 90vw);
    aspect-ratio: 16/9;
    max-width: initial;
    max-height: initial;
}

/*
 * In listing view of post (.post.summary),
 * if there are both cover and spotify or youtube cards (cards taking priority in mobile),
 * then initially hide the cover (then adapt to viewport later).
 *
 * Set display: none to the cover's card.
 * Obviously we want to do it when the cover's card is among many.
 * */
.post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-cover) {
        display: none;
    }

/* and get the mobile card to quack like a .only-card */
.post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-mobile-poster):nth-child(even) {
        grid-column: span 2;
        justify-self: center;
        padding: 0 1em;
        box-sizing: border-box;
    }

/*
 * Adapt
 * */

@media (min-height: 321px) {
    .post-category-name {
        display: inline-block;
    }

    .post {
        --padding-top: 40dvw;
    }
}

@media (min-width: 431px) {
    .header-logo {
        text-align: initial;
    }

    .header-logo-image {
        max-height: 20dvmin;
        max-width: 40dvmin;
    }

    .post {
        --padding-top: 10dvh;
    }
}

@media (min-height: 431px) {
    .post-released {
        display: block;
    }
}

@media (min-width: 700px) {
    .post-content .post-cover {
        float: left;
        width: 50%;
        margin: 0 1.5rem 1.25rem 0;
    }

    .style-abstract .post-cover-image {
        object-fit: cover;
        height: 50dvh;
    }

    .post-content p {
        padding: 0;
    }

    .grid-card {
        padding: 0 1em;
    }

    /*
     * revert the fabricated card-only effect in listing-view (post summary)
     * */
    .post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-cover) {
        display: flex;
    }

    .post.summary .grid-card:not(.only-card):not(.grid-card-wide):has(.post-mobile-poster):nth-child(even) {
        grid-column: initial;
        justify-self: start;
        padding: initial;
    }
}
